:root { 
  --green: #495e57;
  --yellow: #f4ce14;
  --orange: #ee9972;
  --pink: #fbdabb;
  --white: #edefee;
  --black: #333333;
  --blue: #2B66D8;
  --red: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
